<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrario</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />  
    <script src="../static/js/index.js"></script> 
</head>
<body>
    <header>
        <h1 class="title_header">Terrario de reptiles</h1>
    </header>
    <main>
        <section id="register" class="centeredAtNucleo">
                <form id="form_insert_animal" action="">
                    <div class="inputs_form_insert_animal">
                        <h2 class="title_form_insert_animal">Registro de habitantes</h2>
                        <label class="label_input" for="name">Nombre</label>
                        <input id="name" class="input_form_insert_animal" name="name" type="text" placeholder="">
                        
                        <label class="label_input" for="size">Medida</label>
                        <input id="size" class="input_form_insert_animal" name="size" step="any" type="number" placeholder="">
            
                        <label class="label_input" for="species">Especie</label>
                        <input id="species" class="input_form_insert_animal" name="species" type="text" placeholder="">

                        <input id ="btn_send" type="submit" value="Guardar">
                    </div>
                </form>
                <div id="register_response">
                    <p id ="mensaje_register_response" class="centeredAtNucleo"></p>
                </div>
                

        </section>
        <section id="registered">
            <div id="list_animal" >
                <h3 class="title_list_animal">Lista de habitantes</h3>
                <div class="container centeredAtNucleo">

                </div>

            </div>
        </section>

    </main>
    <footer>

    </footer>
</body>
</html>













