<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrario</title>
    <link rel="stylesheet" href="../static/css/index.css" >
    <!--    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />-->
    <script src="../static/js/index.js"></script>
</head>
<body>
    <header>
        <h1 class="title_header">Terrario de reptiles</h1>
    </header>
    <main>
        <section class="register">
                <form id="form_insert_animal" action="">
                    <div class="inputs_form_insert_animal">
                        <h2 class="title_form_insert_animal">Registro de habitantes</h2>
                        <label class="label_input" for="text_name">Nombre</label>
                        <input id="text_name" class="input_form_insert_animal" type="text">
                        
                        <label class="label_input" for="text_size">Medida</label>
                        <input id="text_size" class="input_form_insert_animal" type="number">
            
                        <label class="label_input" for="text_species">Especie</label>
                        <input id="text_species" class="input_form_insert_animal" type="text">

                        <input id ="btn_send" type="submit" value="Guardar">
                    </div>
                </form>
                <div id="register_response">
                    <p id ="mensaje_register_response">
 
                    </p>
                </div>
        </section>
        <section class="registered">
            <h3 class="title_lista_animales_terrario">Habitantes del terrario</h3>
            <textarea name="" id="lista_animales_terrario">

            </textarea>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>













